:root {
  /* General Color */

  --beige: #fff8e7;
  --orange: #f26c58;
  --peach: #fdb38e;
  --black: #1C1C1E;
  --white: #FAFAFA;


  /* Elements */
  --body-bg: #F5F5F5;
  --button: #F0AB4B;
  --delete-btn: #ee2121;
  --reports: #FAFAFA;
  --card-bg: #FCFCFC;
  --table-bg: #FCFCFC;

  --search-bg: #EFEFEF;
  --search-border: #D1D1D1;
  --search-focus: #C8BBAA;
  --search-icon: #999999;
  --search-placeholder: #999999;

  --input-bg: #FCFCFC;

  --option-border: #D1D1D1;
  --option-bg: #fff7ea;

  --text-white: #FAFAFA;
  --text-black: #1C1C1E;
  --text-gray: #6c757d;
  --text-20px: 20px;
  --text-16px: 16px;
  --text-14px: 14px;
  --text-12px: 12px;
  --text-600: 600;

  --radius: 10px;

  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


  /* Sidebar */
  --admin: #FDB38E;
  --encoder: #F5E1B9;
  --viewer: #F5E1B9;

  /* Hover and Active Tabs */
  --admin-hover: #F59E7A;
  --encoder-hover: #F0DCA5;
  --viewer-hover: #F0DCA5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}