:root {
  /* General Color */

  --beige: #fff8e7;
  --orange: #f26c58;
  --peach: #fdb38e;
  --black: #1C1C1E;
  --white: #FAFAFA;


  /* Elements */
  --body-bg: #F5F5F5;
  --button: #F0AB4B;
  --delete-btn: #ee2121;
  --reports: #FAFAFA;
  --card-bg: #FCFCFC;
  --table-bg: #FCFCFC;

  --search-bg: #EFEFEF;
  --search-border: #D1D1D1;
  --search-focus: #C8BBAA;
  --search-icon: #999999;
  --search-placeholder: #999999;

  --input-bg: #FCFCFC;

  --option-border: #D1D1D1;
  --option-bg: #fff7ea;

  --text-white: #FAFAFA;
  --text-black: #1C1C1E;
  --text-gray: #6c757d;
  --text-20px: 20px;
  --text-16px: 16px;
  --text-14px: 14px;
  --text-12px: 12px;
  --text-10px: 10px;
  --text-600: 600;

  --radius: 10px;

  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


  /* Sidebar */
  --admin: #FDB38E;
  --encoder: #F5E1B9;
  --viewer: #F5E1B9;

  /* Hover and Active Tabs */
  --admin-hover: #F59E7A;
  --encoder-hover: #F0DCA5;
  --viewer-hover: #F0DCA5;
}


/* SCROLLBARS */
html::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #FDB38E;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #F59E7A;
}

.table-responsive::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.table-responsive::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #FDB38E;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #F59E7A;
}

.menu::-webkit-scrollbar {
  width: 3px;
}

.menu::-webkit-scrollbar-thumb {
  background: #8B3E2F;
  border-radius: 20px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: #6E2F23;
}

.modal::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.modal::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #FDB38E;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: #F59E7A;
}

.modal-body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.modal-body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #FDB38E;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #F59E7A;
}







/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}



/* Large Desktop */
@media (max-width: 1400px) { }


/* Mobile */
@media (max-width: 576px) { }


/* SIDEBARS */

/* admin sidebar */
#admin-sidebar {
  background-color: var(--admin);
}

#asset-detail-sidebar {
  background-color: var(--admin);
}

#admin-sidebar .menu a:hover,
#asset-detail-sidebar .menu a:hover {
  background-color: var(--admin-hover);
  transition: all 0.3s ease;
}

#admin-sidebar .menu a.active,
#asset-detail-sidebar .menu a:hover {
  background-color: var(--admin-hover);
  font-weight: var(--text-600);
  transition: all 0.3s ease;
}

/* encoder-sidebar */
#encoder-sidebar {
  background-color: var(--encoder);
}

#encoder-sidebar .menu a:hover {
  background-color: var(--encoder-hover);
  transition: all 0.3s ease;
}

#encoder-sidebar .menu a.active {
  background-color: var(--encoder-hover);
  font-weight: var(--text-600);
  transition: all 0.3s ease;
}

/* viewer-sidebar */
#viewer-sidebar {
  background-color: var(--viewer);
}

#viewer-sidebar .menu a:hover {
  background-color: var(--viewer-hover);
  transition: all 0.3s ease;
}

#viewer-sidebar .menu a.active {
  background-color: var(--viewer-hover);
  font-weight: var(--text-600);
  transition: all 0.3s ease;
}
