:root {
  /* General Color */
  --white: #ffffff;
  --beige: #fff8e7;
  --orange: #f26c58;
  --peach: #fdb38e;
  --black: #000000;

  /*  */
  --body: #f7f7f8;
  --button: #f0ab4b;
  --reports: #F5F5F5;

  /* Sidebar */
  --admin: #FDB38E;
  --encoder: #F5E1B9;
  --viewer: #F5E1B9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--body);
}